asgiref==3.8.1
flask-cors==5.0.0
importlib-metadata==8.0.0
jaraco.collections==5.1.0
langchain-community==0.3.7
langchain-fireworks==0.2.5
langchain-groq==0.2.1
langchain-pinecone==0.1.2
langchain-together==0.2.0
langgraph==0.2.48
pinecone==5.4.0
pip-chill==1.0.3
platformdirs==4.2.2
psycopg2-binary==2.9.10
pymilvus==2.4.9
tomli==2.0.1
websockets==13.1
